<ul>
    <%@post.errors.full_messages.each do |messages|%>
        <li><%=messages%></li>
    <%end%>
</ul>

<h1>New Post</h1>

<%= form_for @post do |f|%>
    <%=f.label :title%><br>
    <%=f.text_field :title%><br>

    <%=f.label :content%><br>
    <%=f.text_field :content%><br>

    <%=f.label :likes%><br>
    <%=f.number_field :likes%><br>

    <%=f.collection_select :blogger_id, @bloggers, :id, :name%>
    <%=f.collection_select :destination_id, @destinations, :id, :name%>
    <%= f.submit %>
<%end%>