<ul>
    <%@destination.errors.full_messages.each do |messages|%>
        <li><%=messages%></li>
    <%end%>
</ul>

<h1>New Destination</h1>

<%= form_for @destination do |f|%>
    <%=f.label :name%><br>
    <%=f.text_field :name%><br>

    <%=f.label :country%><br>
    <%=f.text_field :country%><br>

    <%= f.submit %>
<%end%>